#logincon {
  /* margin: 40px auto; */
  /* background: rgb(255, 255, 255) !important; */
  /* background: -webkit-linear-gradient(top, #7579ff, #b224ef) !important;
  align-items: center; */
  /* display: flex;
  justify-content: center; */
  /* height: 450px;
  position: relative;
  width: 500px;
  box-shadow: inset 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 25px; */

  position: relative;
  width: 500px;
  min-height: 400px;
  background: rgba(0, 0, 0, 0.232);
  border-radius: 10px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba (0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba (255, 255, 255, 0.2);
  border-bottom: 1px solid rgba (255, 255, 255, 0.2);
  flex-direction: column;
}

.header {
  text-align: center;
  padding-top: 50px;
}
.header h2 {
  color: rgb(255, 255, 255);
  font-size: 38px;
  margin-bottom: 50px;
}
.form-group {
  display: flex;
  align-items: center;
}
/* .cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
} */
#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-group {
  position: relative;
  gap: 40px;
}
.form-group i {
  position: absolute;
  left: 15px;
  color: #333;
  font-size: 16px;
  top: 10px;
}
#login input,
button {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

/* #logincon .form-control {
  background: none !important;
  color: white !important;
  border: none;
} */

#loginbtn {

  background: #fff !important;
   color: #666 !important;
   max-width: 150px;
   cursor: pointer !important;
   margin-bottom: 20px;
   border: none !important;
   font-weight: 600;
}
#loginbtn:hover {
  background: black !important;
  color: white !important;
  cursor: pointer;
}
.contn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
}
.sign {
  color: rgb(223, 223, 223) !important;
}
.contn span {
  color: white;
}
@media screen and (max-width: 540px) {
  #logincon {
    width: 100%;
  }
}
@media screen and (max-width: 430px) {
  #logincon {
    width: 100%;
  }
  .header {
    text-align: center;
    padding-top: 50px;
  }
  .header h2 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-bottom: 30px;
  }
}
