#signupcon {
  /* margin: 10px auto; */
  /* background: rgb(255, 255, 255) !important; */
  /* background: -webkit-linear-gradient(top, #7579ff, #b224ef) !important;
  align-items: center; */
  /* display: flex;
    justify-content: center; */
  /* height: 590px;
  position: relative;
  width: 700px;
  box-shadow: inset 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 25px; */
  position: relative;
  width: 500px;
  min-height: 500px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba (0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba (255, 255, 255, 0.2);
  border-bottom: 1px solid rgba (255, 255, 255, 0.2);
  flex-direction: column;
}
#signup {
  padding-top: 30px;
  position: relative;
}

#signup label{
  font-size: 0.9rem;
  color: rgb(0, 0, 0) !important;
}
#signup .form-control{
  background: none !important;
  color: white !important;
  border: none;
}
.contsignup {
  display: flex;
  justify-content: center;
}
#signbtn {
  /* background: rgb(255, 255, 255) !important;
  border-radius: 25px;
  padding: 10px 20px !important;
  color: black;
  font-size: 1.2rem;
  border: none !important;
  box-shadow: inset 0px 5px 20px rgba(0, 0, 0, 0.25);
   */
   background: #fff !important;
   color: #666 !important;
   max-width: 100px;
   cursor: pointer !important;
   margin-bottom: 20px;
   border: none !important;
   font-weight: 600;
}
#signbtn:hover {
 background: black !important;
  color: white !important;
}
.contsl{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
}
.signtxt {
  text-align: center;
  /* margin: 0px 97px; */
  padding-top: 25px;
}

@media screen and (max-width: 600px) {
  #signupcon {
    margin: 0 auto;
    width: 100%;
    transform: translateY(-10px);
  }
}
